header {
    overflow: hidden;
    padding: 20px 10px;
}
header a{
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
}
header a.heading {
    font-size: 25px;
    font-weight: bold;
}
header a:hover {
    color: black;
}
.header-menu {
    float: right;
}  
@media screen and (max-width: 500px) {
    header a {
      float: none;
      display: block;
      text-align: center;
    }
    .header-menu {
      float: none;
    }
    .header-menu a{
        border: 2px black;
    }
  }
  @media screen and (max-width: 700px) {
    header a {
      float: none;
      display: block;
      text-align: center;
    }
    .header-menu {
      float: none;
    }
    .header-menu a{
        border: 2px black;
    }
  }
  